@use "variables" as *;

.auth-body {
    background-color: $bg-color;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .auth-card {
        width: 100%;
        max-width: 400px;
        padding: 2rem;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        background: $white;
    }
}