// Colors
$primary-color: #0084ff;
$bg-color: #f0f2f5;
$text-color: #1c1e21;
$muted-color: #65676b;
$border-color: #ddd;
$white: #fff;
$msg-left-bg: #e4e6eb;
$msg-right-bg: #0084ff;
$online-color: #31a24c;

// Layout
$sidebar-width: 350px;
$header-height: 60px;
